<!DOCTYPE HTML>
<html>

<head>
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Augment Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    </script>
    
    <link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <link href="css/style.css" rel='stylesheet' type='text/css' />
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rancho" rel="stylesheet">
    <script src="js/jquery-1.10.2.min.js"></script>
    
    <style>
    	.page-container{color:white}
    	.top_menu{color:white}
		.profile_details{float:left}
		.user-details{margin:-22px 4.8em 0 3em}
		.user-details h2{font-size:56px}
		.outter-wp{margin-bottom:0px}
		.user-info{float:left; width:89%}
		.cart-info{float:left; margin-top: 5px; margin-bottom: 10px;}
    	.item-image{width:50%}
    	.item-table .dev-col{padding:25px; border:1px solid;}
    	.item-table .col-md-6{padding-top:10px}
    	.item-table h2, .item-table h1{margin-top:0px; margin-bottom:0px}
    	.item-table .fa{color:white}
    	.item-table input[type="text"]{color:black}
    	#myModal table{text-align:center; font-size:22px}
    	.modal-header .close{font-size:45px}
    </style>
</head>

<body>
    <div class="page-container">
         <div class="inner-content">
             <div class="outter-wp">
             	<div class="bottom-grids">
					<div class="item-table">
						<div align="center" style="font-size:50px">
							<span>Manage Table</span>  
						</div>
						<div id="1" class="col-md-3 dev-col items">                                    
	                      	<table>
								<tr><td colspan="2" align="center"><img class="item-image" src="images/restaurant-table-and-chairs-gray.png"></td></tr>
								<tr><td colspan="2" align="center"><a class="show-orders"><h3 class="name">Table 1</h3></a></td></tr>
								<tr>
									<td align="center"><button class="btn btn-default add-to-cart">Cash Payment</button></td>
									<td align="center"><button class="btn btn-default add-to-cart">Card Payment</button></td>
								</tr>
							</table>
						</div>
						<div id="2" class="col-md-3 dev-col items">                                    
	                      	<table>
								<tr><td colspan="2" align="center"><img class="item-image" src="images/restaurant-table-and-chairs-gray.png"></td></tr>
								<tr><td colspan="2" align="center"><h3 class="name">Table 2</h3></td></tr>
								<tr>
									<td align="center"><button class="btn btn-default add-to-cart">Cash Payment</button></td>
									<td align="center"><button class="btn btn-default add-to-cart">Card Payment</button></td>
								</tr>
							</table>
						</div>
						<div id="3" class="col-md-3 dev-col items">                                    
	                      	<table>
								<tr><td colspan="2" align="center"><img class="item-image" src="images/restaurant-table-and-chairs-gray.png"></td></tr>
								<tr><td colspan="2" align="center"><h3 class="name">Table 3</h3></td></tr>
								<tr>
									<td align="center"><button class="btn btn-default add-to-cart">Cash Payment</button></td>
									<td align="center"><button class="btn btn-default add-to-cart">Card Payment</button></td>
								</tr>
							</table>
						</div>
						<div id="4" class="col-md-3 dev-col items">                                    
	                      	<table>
								<tr><td colspan="2" align="center"><img class="item-image" src="images/restaurant-table-and-chairs-gray.png"></td></tr>
								<tr><td colspan="2" align="center"><h3 class="name">Table 4</h3></td></tr>
								<tr>
									<td align="center"><button class="btn btn-default add-to-cart">Cash Payment</button></td>
									<td align="center"><button class="btn btn-default add-to-cart">Card Payment</button></td>
								</tr>
							</table>
						</div>
						<div id="5" class="col-md-3 dev-col items">                                    
	                      	<table>
								<tr><td colspan="2" align="center"><img class="item-image" src="images/restaurant-table-and-chairs-gray.png"></td></tr>
								<tr><td colspan="2" align="center"><h3 class="name">Table 5</h3></td></tr>
								<tr>
									<td align="center"><button class="btn btn-default add-to-cart">Cash Payment</button></td>
									<td align="center"><button class="btn btn-default add-to-cart">Card Payment</button></td>
								</tr>
							</table>
						</div>
						<div id="6" class="col-md-3 dev-col items">                                    
	                      	<table>
								<tr><td colspan="2" align="center"><img class="item-image" src="images/restaurant-table-and-chairs-gray.png"></td></tr>
								<tr><td colspan="2" align="center"><h3 class="name">Table 6</h3></td></tr>
								<tr>
									<td align="center"><button class="btn btn-default add-to-cart">Cash Payment</button></td>
									<td align="center"><button class="btn btn-default add-to-cart">Card Payment</button></td>
								</tr>
							</table>
						</div>
						<div id="7" class="col-md-3 dev-col items">                                    
	                      	<table>
								<tr><td colspan="2" align="center"><img class="item-image" src="images/restaurant-table-and-chairs-gray.png"></td></tr>
								<tr><td colspan="2" align="center"><h3 class="name">Table 7</h3></td></tr>
								<tr>
									<td align="center"><button class="btn btn-default add-to-cart">Cash Payment</button></td>
									<td align="center"><button class="btn btn-default add-to-cart">Card Payment</button></td>
								</tr>
							</table>
						</div>
						<div id="8" class="col-md-3 dev-col items">                                    
	                      	<table>
								<tr><td colspan="2" align="center"><img class="item-image" src="images/restaurant-table-and-chairs-gray.png"></td></tr>
								<tr><td colspan="2" align="center"><h3 class="name">Table 8</h3></td></tr>
								<tr>
									<td align="center"><button class="btn btn-default add-to-cart">Cash Payment</button></td>
									<td align="center"><button class="btn btn-default add-to-cart">Card Payment</button></td>
								</tr>
							</table>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
             </div>
         </div>
        <div class="clearfix"></div>
    </div>
    
    <!-- Modal -->
	<div id="myModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h3 class="modal-title">Placed Orders</h3>
	      </div>
	      <div class="modal-body">
	      	<table id="cart-table" class="table table-bordred table-striped">
	      		<tr>
	      			<td class="col-md-3"><img class="item-image" src="images/cutting.png" style="width:25%"></td>
	      			<td class="col-md-3"><span>Malai Chai</span></td>
	      			<td class="col-md-3"><img src="images/indian_rupee_sign_currency_symbol-512.png" style="width:12.5%">&nbsp;35 X 2</td>
	      			<td class="col-md-3"><img src="images/indian_rupee_sign_currency_symbol-512.png" style="width:12.5%">&nbsp;70</td>
	      		</tr>
	      		<tr>
	      			<td class="col-md-3"><img class="item-image" src="images/cutting.png" style="width:25%"></td>
	      			<td class="col-md-3"><span>Malai Chai</span></td>
	      			<td class="col-md-3"><img src="images/indian_rupee_sign_currency_symbol-512.png" style="width:12.5%">&nbsp;35 X 2</td>
	      			<td class="col-md-3"><img src="images/indian_rupee_sign_currency_symbol-512.png" style="width:12.5%">&nbsp;70</td>
	      		</tr>
	      		<tr>
	      			<td class="col-md-3"><img class="item-image" src="images/cutting.png" style="width:25%"></td>
	      			<td class="col-md-3"><span>Malai Chai</span></td>
	      			<td class="col-md-3"><img src="images/indian_rupee_sign_currency_symbol-512.png" style="width:12.5%">&nbsp;35 X 2</td>
	      			<td class="col-md-3"><img src="images/indian_rupee_sign_currency_symbol-512.png" style="width:12.5%">&nbsp;70</td>
	      		</tr>
	      	</table>
	      </div>
	    </div>
	
	  </div>
	</div>

	<script>		
		$(document).ready(function(e){
			$('.show-orders').click(function(e){
				$('#myModal').modal();
			});
		});
	</script>
    <script type="text/javascript" src="js/TweenLite.min.js"></script>
    <script type="text/javascript" src="js/CSSPlugin.min.js"></script>
    <script src="js/jquery.nicescroll.js"></script>
    <script src="js/scripts.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
</body>

</html>